
h1 {
  font-size: 70px;
  padding: 0px;
}

a {
  color: Black;
}

.header {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  height: 100px;
  padding: 0px;
}


h3 {
  text-align: left;
  font-family: 'Raleway', sans-serif;
}

p {
  text-align: left;
  font-family: 'Raleway', sans-serif;
}
.design {
  padding: 20px 20px 20px 0px;
  text-align: left;
}

.editing {
  padding: 20px 20px 20px 0px;
  text-align: left;
}
body {
  background-color: #AFED62;
}

img {
  display: block;
  margin: auto;
}
