body{
    background-image: -webkit-linear-gradient(#85E839, #3FFF9E)
}

.navi{
  text-align: center;
  width: 12%;
  padding: 15px;
  border: 2px solid #0A1D4C;
  background-color: #0A1D4C;
}

li {
   font-size: 20px; 
}
h5 {
  color: White;
}

h1 {
  font-size: 105px;
  padding: 0px;
}

.header {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background: url(https://www.freevector.com/uploads/vector/preview/21826/Forest_Background-05.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
  padding: 0px;
}


h3 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}
.design {
  padding: 20px 20px 20px 0px;
  text-align: center;
}

.editing {
  padding: 20px 20px 20px 0px;
  text-align: center;
}
