/* Main CSS */
body{
    background-color: black;
}

.navi{
  font-family: Raleway, sans-serif;
  text-align: center;
  width: 12%;
  padding: 3px;
  border: 2px solid #0A1D3B;
  background-color: #0A1D3B;
}

li {
   font-size: 65px; 
   color: White;
}
h5 {
  color: White;
}

h1 {
  color: white
  font-family: 'Megrim', sans-serif
  font-size: 3em;
  padding: 0px;
}

h2 {
  color: white;
}

h4 {
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h8 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
}
.header {
  font-family: 'Megrim', sans-serif;
  text-align: center;
  background: url(https://github.com/micahlt/micahincorporated/raw/master/GswqnT3%20-%20Imgur.gif) no-repeat center center;
  background-size: 100%;
  height: 200%;
  padding: 0px;
  color: white
}
.header img{
  width: 75%;
}

.feathersc img{
  width: 18%;
}

h3 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #FFF5F7;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: white;
}
.design {
  padding: 20px 20px 20px 0px;
  text-align: center;
  color: white;
}

.editing {
  padding: 20px 20px 20px 0px;
  text-align: center;
  color: white;
}
