
h1 {
  font-size: 140px;
  padding: 0px;
}

.header {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background: url(http://s3.amazonaws.com/codecademy-content/projects/broadway/bg.png) no-repeat center center;
  background-size: cover;
  height: 750px;
  padding: 0px;
}

h3 {
  background-color: CadetBlue;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

p {
  background-color: CadetBlue;
  font-family: 'Raleway', sans-serif;
}
.design {
  background-color: CadetBlue;
  padding: 20px 20px 20px 0px;
  text-align: center;
}

.editing {
  background-color: CadetBlue;
  padding: 20px 20px 20px 0px;
  text-align: center;
}

.rest {

}
